/* src/App.module.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
